<component name="ArtifactManager">
  <artifact type="war" name="springtomybatis:war">
    <output-path>$PROJECT_DIR$/springtomybatis/target</output-path>
    <root id="archive" name="springtomybatis-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springtomybatis:war exploded" />
    </root>
  </artifact>
</component>